<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Stardust Automation Assignment">
    <test name="Stardust Automation Assignment">
        <classes>
            <class name="org.example.testClasses.TestClassForLogin"/>
            <class name="org.example.testClasses.TestClassForAddUser"/>
            <class name="org.example.testClasses.TestClassForTicketCreateAndFilter"/>
        </classes>
    </test>
</suite>
